.navbar {
    position: fixed;
    right: 0;
    top: 0;
    left: 350px;
    margin: 12px 15px 0 9px;
    padding: 16px;
    border-radius: 8px;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SETAS */
.navbar .navbar_arrows {
    display: flex;
}

.navbar .navbar_arrows button {
    background-color: rgba(0, 0, 0, 0.7);
    margin-right: 16px;
    border-radius: 100%;
    width: 36px;
    height: 38px;
}

/* BARRA DE PESQUISA */
.navbar .navbar_searchbar {
    background-color: #242424;
    height: 48px;
    width: 300px;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    border: 1px solid #242424;
}

.navbar .navbar_searchbar:hover {
    border-color: #fff;
}

.navbar .navbar_searchbar img {
    width: 15px;
    padding: 10px;
}

.navbar .navbar_searchbar input {
    background-color: transparent;
    height: 48px;
    width: 100%;
    border: solid 1px transparent;
    border-radius: 50px;
    color: #fff;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
}

/* BOTÕES DE LOGIN */
.navbar .navbar_buttons {
    margin-left: 32%;
    display: flex;
}

.navbar_buttons .subscribe {
    background-color: transparent;
    color: #a7a7a7;
    font-weight: 600;
    font-size: 18px;
    margin-right: 25px;
}

.navbar_buttons .login {
    background-color: #fff;
    color: #242424;
    border-radius: 20px;
    padding: 12px 24px;
    font-weight: 600;
    font-size: 15px;
}